/*==========Head==========*/
.head {
    margin-block-start: 0;
    padding: .6rem 0;
    color: var(--light-color);
    background: var(--primary-color);
    transition: var(--transition);
}
.left, .right {
    display: flex;
    font-weight: 500;
}
.right label {
    cursor: pointer;
}
.head i {
    margin-right: .4rem;
}
.head label {
    margin-right: 1.7rem;
    font-size: .8rem;
}

/*==========Search==========*/
.search {
    padding: 1rem 0;
    box-shadow: var(--shadow);
    color: var(--text-color);
    transition: var(--transition);
}
.search .logo {
    width: auto;
    height: auto;
}
.search__logo {
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary-color);
}
.search__logo span {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: .5rem;
}
.search .width {
    width: 20%;
}
.search__box {
    width: 85%;
    height: 3rem;
    border-radius: .5rem;
    border: var(--border);
    margin-left: 4rem;
}
.search__box input {
    width: 70%;
    background: var(--transparent-color);
}
::placeholder {
    color: var(--light-color);
    font-size: 1.1rem;
    padding: .5rem;
}
.search__box i {
    width: 5%;
    font-size: 1.2rem;
    opacity: 0.5;
    padding: .2rem;
    cursor: pointer;
    line-height: 2.5rem;
}
.search__box span {
    width: 35%;
    opacity: 0.5;
    border-left: 2px solid rgba(255, 255, 255, 0.068);
    padding: .2rem;
    font-size: 1rem;
    margin-left: 1rem;
    line-height: 2.1rem;
}
.icon {
    font-size: 1.7rem;
    cursor: pointer;
}
.icon i {
    margin-right: 1rem;
}
.cart {
    position: relative;
}
.search .cart span {
    position: absolute;
    top: -.5rem;
    right: 0;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    color: var(--white-color);
    background: var(--icon-color);
}
.search .flex-f {
    justify-content: end;
}

/*==========Navbar==========*/
.header {
    height: 4rem;
}
.navbar {
    background: var(--card-color);
    box-shadow: var(--shadow);
    padding: 0 1.9rem;
    border-radius: .5rem;
    height: 3rem;
    margin-block-start: .5rem;
    width: 100%;
}
.navbar ul {
    line-height: 3rem;
    text-align: center;
}
.header ul li {
    margin-right: 1.7rem;
    margin-left: -.4rem;
    width: 10%;
}
.header ul li a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-color);
    text-transform: capitalize;
    padding: .5rem;
    border-radius: .5rem;
    transition: var(--transition);
}
.header ul li a:hover {
    color: var(--white-color);
    background: var(--primary-color);
}
.open {
    display: none;
}


/*==========Media Query 1024px==========*/
@media (max-width: 1024px) {
    .search {
        padding: .4rem 0;
    }
    .search__logo {
        font-size: 2rem;
    }
    .search__logo span {
        font-size: 1rem;
    }
    .search__box {
        height: 2.2rem;
        margin-left: 2rem;
    }
    .search__box input {
        width: 100%;
    }
    ::placeholder {
        font-size: 1rem;
    }
    .search__box i {
        padding: 1rem;
        font-size: 1.4rem;
    }
    .search__box span {
        display: none;
    }
    .icon {
        font-size: 1.5rem;
    }
    .search .cart span {
        top: -.6rem;
        width: 1.3rem;
        height: 1.3rem;
    }
    .header ul {
        width: 40%;
        height: 100vh;
        padding-block-start: 2rem;
        background: var(--primary-color);
    }
    .header ul li {
        padding: .5rem;
        line-height: 2.7rem;
        width: 100%;
        text-align: left;
        margin-left: 3rem;
    }
    .header ul li a {
        color: var(--white-color);
    }
    .navbar {
        height: 0;
    }
    .nav__links-mobileMenu {
        position: absolute;
        top: 6.5%;
        left: 0;
        display: block;
        width: 25%;
        z-index: 80;
    }
    .header .link {
        display: none;
    }
    .open, .close {
        position: absolute;
        top: .5rem;
        right: 1.3rem;
        color: var(--white-color);
        display: block;
        font-size: 1.5rem;
        z-index: 90;
    }

}


/*==========Media Query 768px==========*/
@media (max-width: 768px) {
    .head {
        padding: 1.5rem;
    }
    .left, .right {
        display: none;
    }
    .search__box {
        position: absolute;
        top: .5rem;
        width: 80%;
        height: 2rem;
        margin-left: 0;
    }
    .search__box i {
        color: var(--white-color);
    }
    .header ul {
        width: 70%;
    }
    .nav__links-mobileMenu {
        top: 7.2%;
    }
    .open, .close {
        top: .6rem;
        right: 1.1rem;
    }


}